
.count-time{
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    text-align: center;
    border-radius: 10px;
}
.bookmark-container{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.bookmark-header{
    margin: 0 0 20px 0;
}
.added-bookmark{
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}
.added-bookmark h4{
    margin: 0;
}