@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');


.card-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    padding: 20px;
}
.card{
}
.cover-img{
    border-radius: 5px;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
}
.author{
    display: flex;
    align-items: center;
}
.author img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.author-details{

}
.author-details h4{
    margin: 0 20px;
    padding: 0;
}
.author-details p{
    margin: 0 20px;
    padding: 0;
    color: rgba(17, 17, 17, 0.6);
    font-weight: 500;
}
.card-body{
    display: flex;
    justify-content: space-between;
}
.bookmark{
    display: flex;
    align-items: center;
}
.bookmark-detail{
    margin: 0 5px;
    color: rgba(17, 17, 17, 0.6);
}
.bookmark button{
    background: none;
    color: rgba(17, 17, 17, 0.6);
    border: 0;
    padding: 5px;
}
button:focus, button:focus-visible {
    outline: none !important;
}
.keyword{
    margin-bottom: 15px;
}
.keyword span{
    margin-right: 15px;
    color:rgba(17, 17, 17, 0.6);
}
.read-more-btn{
    color:#6047EC;
    background: none;
    cursor: pointer;
    padding: 10px 0;
}

hr{
    border: 1px solid rgba(17, 17, 17, 0.15);
    margin: 30px 0;
}
